<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {%load static %} <link rel="stylesheet" href={%static "/css/receives.css"%}>
    <title>Messages Received</title>
  </head>
  <body>
    <section>
      <a href="message.html"><p>New Message</p></a>

      <div>
        <h1>{{mail_1.0}}</h1>
        <h3>{{mail_1.1}}</h3>
        <p>{{mail_1.2 }}</p>
      </div>

      <div>
        <h1>{{mail_2.0}}</h1>
        <h3>{{mail_2.1}}</h3>
        <p>{{mail_2.2 }}</p>
      </div>
      <div>
        <h1>{{mail_3.0}}</h1>
        <h3>{{mail_3.1}}</h3>
        <p>{{mail_3.2 }}</p>
      </div>
      <div>
        <h1>{{mail_4.0}}</h1>
        <h3>{{mail_4.1}}</h3>
        <p>{{mail_4.2 }}</p>
      </div>
    </section>
  </body>
</html>
