@import "variables";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: $primary-color;
  color: #fff;
}

section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

  div {
    background-color: $text-color;
    width: 70vw;
    height: 15vh;
    padding: 3px 10px;
    border-radius: 5%;
  }
  a {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5%;
    height: 50px;
    width: 100px;
    background-color: $secondary-color;
    color: $primary-color;
    text-decoration: none;
  }
}
